.container {
  display: flex;
  

  .content {
  flex: 6;

  
  .topBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: auto;
    margin: 20px;
   
    .blockLeft {
      -webkit-box-shadow: 1px 2px 3px 3px rgb(229, 229, 233);
      flex: 2;
      padding: 20px;
      margin: 20px;
      padding-bottom: 10px;
      gap: 10px;
      max-height: 200px;
      display: flex;
      flex-direction: column;
      position: relative;
      border-top-right-radius: 10px;

      .editbtn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #7e6fb4;
        padding: 10px;
        color: #fff;
        border-radius: 10px;
      }

      .information {
        display: flex; 
        justify-content: row;
        justify-content: space-around;

        .infotexts {
          padding: 10px;
          .texts {
            display: flex;
            flex-direction: row;
            padding: 5px;

            span {
              font-size: 15px;
              color: rgb(180, 180, 180);
              font-weight: 600;
              margin-right: 10px;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              color: #494949;
            }
          }
        }
      }

      .info {
      
        font-size: 20px;
        font-weight: 500;
        color: rgb(180, 180, 180);
      }

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
     
      }

    }
    .blockRight {
    max-height: 200px;
    flex: 2;
    padding: 20px;
    

    }

    .blockBottom {
      width: 100%;
      margin: 20px;
      gap: 20px;
    }

  }
  
  }

}