.sidebar {
    flex: 1;
   min-height: 100vh;
   background-color: #13293D;

    hr {
        height: 0;
        border: 0.5px solid whitesmoke;
    }

   .init {
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: center;

    .logotipo {
        color:rgb(126, 207, 126);
        font-size: 18px;
        font-weight: bold;
    }
   }

   .middle {
    
   

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-top: 25px;
            margin-bottom: 15px;
            padding: 25px;
            display: flex;
            align-items: center;
            cursor: pointer;
            span {
                font-size: 14px;
                font-weight: 300;
                color: rgb(158, 157, 157);
                font-weight: bold;
                margin-left: 10px;

                &:hover {
                    color:rgb(126, 207, 126);
                }
            }
            &:hover{
              color: #494949;
                background-color: white;
                
            }

        }
    }
   }

   .icon {
    color:rgb(126, 207, 126);
   }
}

